<!DOCTYPE html>
<html class="html">
  <head>
    <meta charset="utf-8" />
    <title>ASU SURI</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,400italic"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="../public/css/index.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <style>

      svg{
        scale: 1
      }
      nav {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        max-height: 20px;
      }
  
      .item {
        display: flex;
        /* justify-content: center; */
        align-items: center;
        position: relative;
        width: fit-content;
      }
  
      .item-heading {
        width: 140px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
      }
  
      svg {
        transform: rotate(-90deg);
      }
  
      .circle_animation {
        stroke-dasharray: calc((2*22*40)/7);
        /* this value is the pixel circumference of the circle */
        stroke-dashoffset: 0;
        transition: all 1.2s linear;
      }

      .blink {
  animation: blinker 1.2s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

    </style>

  </head>

  <body class="html">
    <nav>
      <div class="item">
        <h2 class="item-heading">time</h2>
        <svg width="140" height="140" xmlns="http://www.w3.org/2000/svg">
          <circle id="circle" class="circle_animation" r="40" cy="71" cx="71" stroke-width="8" stroke="#6fdb6f"
            fill="none" />
        </svg>
      </div>
    </nav>
    <h1 class="heading">Exercise 2 of 10</h1>
    <div class="main-body">
      <p>
        Consider the following 4 boxes, each denoting a company. Each box
        contains some information about the company. Can you predict by how much
        the stock price of the company will grow or fall by the
        <b> end of December 2022</b>? Choose the appropriate color from the chart.
      </p>
      <p style="margin-bottom: 2rem">
        <b>NOTE:</b> <span style="color: #ff0000">Red</span> indicates a
        fall<span style="color: #ff0000">↓</span> and
        <span style="color: #008000">Green</span> indicates a rise<span
          style="color: #008000"
          >↑</span
        >. The darker the color, the higher the jump/drop.
      </p>
      <div class="tip">
        <div><i style="color: #0033cc;"class="bi bi-info-circle-fill"></i></div>
      <p style="margin-left: 10px;">In this question, you will <u>not</u> be given the graph and the name of the company. Instead, you will be given some information about each company along with the historical price information.</p></div>
      <br>
      


      <div class="flex1">
        <div class="card" style="position: inherit">
          <div class="text">Company 1</div>
          <div class="info">
            This company was founded in <b>1996</b>.<br />
            52 week High / Low prices: <b>$211.98 / $113.48</b>
            <br />
            Sector(s): <b>Technology</b><br />
            Industry: <b>Semiconductors</b><br />
            Stock Price: <b>$123.44 </b><br />
          </div>
          <div class="flex2">
            <div data-toggle="tooltip" data-placement="bottom" title="-25%" class="color card1"></div>
            <div class="color card2"></div>
            <div class="color card3"></div>
            <div class="color card4"></div>
            <div class="color card5"></div>
            <div data-toggle="tooltip" data-placement="bottom" title="0%" class="color card6"></div>
            <div class="color card7"></div>
            <div class="color card8"></div>
            <div class="color card9"></div>
            <div class="color card10"></div>
            <div data-toggle="tooltip" data-placement="bottom" title="+25%" class="color card11"></div>
          </div>
        </div>
        <div class="card">
          <div class="text">Company 2</div>
          <div class="info">
            This company was founded in <b>1988</b>.<br />
            52 week High / Low prices: <b>$269.03 / $71.88</b>
            <br />
            Sector(s): <b>Healthcare</b><br />
            Industry: <b>Medical Devices</b><br />
            Stock Price: <b>$72.92</b><br />
          </div>
          <div class="flex2">
            <div data-toggle="tooltip" data-placement="bottom" title="-25%" class="color card1"></div>
            <div class="color card2"></div>
            <div class="color card3"></div>
            <div class="color card4"></div>
            <div class="color card5"></div>
            <div data-toggle="tooltip" data-placement="bottom" title="0%" class="color card6"></div>
            <div class="color card7"></div>
            <div class="color card8"></div>
            <div class="color card9"></div>
            <div class="color card10"></div>
            <div data-toggle="tooltip" data-placement="bottom" title="+25%" class="color card11"></div>
          </div>
        </div>
      </div>
      <br />
      <br />
      <div class="flex1">
        <div class="card" style="position: inherit">
          <div class="text">Company 3</div>
          <div class="info">
            This company was founded in <b>1976</b>.<br />
            52 week High / Low prices: <b>$182.94 / $129.04</b>
            <br />
            Sector(s): <b>Technology</b><br />
            Industry: <b>Consumer Electronics</b><br />
            Stock Price: <b>$138.20</b><br />
          </div>
          <div class="flex2">
            <div data-toggle="tooltip" data-placement="bottom" title="-25%" class="color card1"></div>
            <div class="color card2"></div>
            <div class="color card3"></div>
            <div class="color card4"></div>
            <div class="color card5"></div>
            <div data-toggle="tooltip" data-placement="bottom" title="0%" class="color card6"></div>
            <div class="color card7"></div>
            <div class="color card8"></div>
            <div class="color card9"></div>
            <div class="color card10"></div>
            <div data-toggle="tooltip" data-placement="bottom" title="+25%" class="color card11"></div>
          </div>
        </div>
        <div class="card">
          <div class="text">Company 4</div>
          <div class="info">
            This company was founded in <b>1892</b>.<br />
            52 week High / Low prices: <b>$67.20 / $52.28</b>
            <br />
            Sector(s): <b>Consumer Defensive</b><br />
            Industry: <b>Beverages—Non-Alcoholic</b><br />
            Stock Price: <b>$56.04</b><br />
          </div>
          <div class="flex2">
            <div data-toggle="tooltip" data-placement="bottom" title="-25%" class="color card1"></div>
            <div class="color card2"></div>
            <div class="color card3"></div>
            <div class="color card4"></div>
            <div class="color card5"></div>
            <div data-toggle="tooltip" data-placement="bottom" title="0%" class="color card6"></div>
            <div class="color card7"></div>
            <div class="color card8"></div>
            <div class="color card9"></div>
            <div class="color card10"></div>
            <div data-toggle="tooltip" data-placement="bottom" title="+25%" class="color card11"></div>
          </div>
        </div>
      </div>
      <form method="POST" id="form" action="/2">
        <input type="text" class="hidden" name="UserID" id="UserID" />
        <input type="text" class="hidden" name="input1" id="input1" />
        <input type="text" class="hidden" name="input2" id="input2" />
        <input type="text" class="hidden" name="input3" id="input3" />
        <input type="text" class="hidden" name="input4" id="input4" />
        <input type="text" class="hidden" name="input5" id="input5" />
        <input type="text" class="hidden" name="input6" id="input6" />
        <input type="text" class="hidden" name="input7" id="input7" />
        <input type="text" class="hidden" name="input8" id="input8" />
        <button type="submit" class="hidden" id="submit1"></button>
      </form>
      <button
        type="submit"
        class="btn btn-outline-success"
        id="submitButton"
        value="Submit"
        onclick="submit()"
      >
        Submit
      </button>
    </div>

    <script>

let time = 120;//seconds
    let i = 0;
    let finalOffset = (2*22*40)/7;// the length of strokedasharray ( pixel circumference of the circle -> css )
    let step = finalOffset / time;
    let timeCaption = document.querySelector('h2');
    let circle = document.querySelector('.circle_animation').style;

    circle.strokeDashoffset = 0;
    timeCaption.innerText = "Time";

    var interval = setInterval(() => {
      timeCaption.innerText = new Date(time * 1000).toISOString().substring(14, 19);
      // let colorstep = ++i/len;
      // document.getElementById("circle").style.stroke = getColor(colorstep);
      if(time == 60){
        document.getElementById("circle").style.stroke = "#FF8C00";
      }

      if(time == 30){
        document.getElementById("circle").style.stroke = "#FF2400";
        document.querySelector('h2').classList.add("blink")
      }


      if(time-- == 0){
        clearInterval(interval);
      }
      else{
        circle.strokeDashoffset = step * (i++);
      }
      // time--;
    }, 1000);

    setTimeout(()=>{
      document.getElementById("input1").value = null;
      document.getElementById("form").submit();
    }, (time+1)*1000)

$(function () {   
  $('[data-toggle="tooltip"]').tooltip() 
})

$('.card1').tooltip({placement: 'bottom', trigger: 'manual'}).tooltip('hide');
$('.card6').tooltip({placement: 'bottom', trigger: 'manual'}).tooltip('hide');
$('.card11').tooltip({placement: 'bottom', trigger: 'manual'}).tooltip('hide');
      stage1 = true;

      function submit() {
        if (stage1 == true) {
          for (let i = 0; i < 4; i++) {
            if (document.getElementById(`input${i + 1}`).value == "") {
              alert("Please select all the required options.");
              return;
            }
          }

          alert(
            "You can have a look at the hidden company names before pressing continue."
          );
          let companies = document.getElementsByClassName("text");
          companies[0].innerHTML = "Silicon Laboratories";
          companies[1].innerHTML = "Heska";
          companies[2].innerHTML = "Apple Inc.";
          companies[3].innerHTML = "Coca Cola";

          document.getElementById("submitButton").innerHTML = "Continue";

          stage1 = false;
        } else {
          document.getElementById("form").submit();
        }
      }

      document.getElementById(`UserID`).value = localStorage.getItem("UserID");

      let colorArr = [
        "#970023",
        "#ce2827",
        "#ee5f3f",
        "#fba25c",
        "#fed785",
        "#fefdb9",
        "#d9e986",
        "#a2cf67",
        "#64b15c",
        "#2d8b4b",
        "#185d33",
      ];
      let cards = document.getElementsByClassName("card");
      for (let i = 0; i < 4; i++) {
        let companyName = cards[i].querySelector(".text").innerHTML;
        let colorButtons = cards[i].querySelector(".flex2");
        for (let j = 1; j < 12; j++) {
          let colors = colorButtons.querySelector(`.card${j}`);
          $(colorButtons).hover(function(){  
      $(colorButtons).find(".card1").tooltip({placement: 'bottom'}).tooltip('show');
            $(colorButtons).find(".card6").tooltip({placement: 'bottom'}).tooltip('show');
            $(colorButtons).find(".card11").tooltip({placement: 'bottom'}).tooltip('show');  
        }, function(){  
          $(colorButtons).find(".card1").tooltip({placement: 'bottom'}).tooltip('hide');
            $(colorButtons).find(".card6").tooltip({placement: 'bottom'}).tooltip('hide');
            $(colorButtons).find(".card11").tooltip({placement: 'bottom'}).tooltip('hide');  
    });  
          colors.onclick = function color() {
            if (stage1 == false) {
              return;
            }
            cards[i].style.borderColor = colorArr[j - 1];
            cards[i].style.borderWidth = "medium";
            for (let k = 1; k < 12; k++) {
              let colorButtons2 = cards[i].querySelector(".flex2");
              colorButtons2
                .querySelector(`.card${k}`)
                .classList.remove("focus");
            }
            colors.classList.add("focus");
            document.getElementById(`input${i + 1}`).value = j;
          };
        }
      }
    </script>
  </body>
</html>
