<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Example 5</title>

    <link
      rel="canonical"
      href="https://www.rgraph.net/canvas/adjusting-line.html"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <meta
      name="description"
      content="Information about adjusting the Line chart interactively. They can be useful if you're doing a presentation and need to illustrate changes."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="google-site-verification"
      content="s8bvfR_0aMUePehdfWjaLDopT4oyoRO-XaOTfcjJhgY"
    />
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <link
      rel="icon"
      type="image/png"
      href="https://www.rgraph.net/images/favicon.png"
    />

    <meta
      property="og:image"
      content="https://www.rgraph.net/images/logo-250x250.png"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://www.rgraph.net/canvas/adjusting-line.html"
    />

    <script src="https://www.rgraph.net/libraries/RGraph.common.core.js"></script>
    <!-- DO NOT DEFER -->
    <script src="https://www.rgraph.net/js/jquery.min.351.js"></script>
    <script src="https://www.rgraph.net/js/combined.html/menuhints.js"></script>

    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,400italic"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="./public/css/index1.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <style>
      svg {
        scale: 1;
      }
      nav {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        max-height: 20px;
      }

      .item {
        display: flex;
        /* justify-content: center; */
        align-items: center;
        position: relative;
        width: fit-content;
      }

      .item-heading {
        width: 140px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
      }

      svg {
        transform: rotate(-90deg);
      }

      .circle_animation {
        stroke-dasharray: calc((2 * 22 * 40) / 7);
        /* this value is the pixel circumference of the circle */
        stroke-dashoffset: 0;
        transition: all 1.2s linear;
      }

      .blink {
        animation: blinker 1.2s step-start infinite;
      }

      @keyframes blinker {
        50% {
          opacity: 0;
        }
      }
    </style>
  </head>
  <style>
    .overlay {
      z-index: 99999999999999999;
      position: absolute;
      width: 625px;
      height: 275px;
      /* background-color: red; */
    }
  </style>
  <body>
    <nav>
      <div class="item">
        <h2 class="item-heading">time</h2>
        <svg width="140" height="140" xmlns="http://www.w3.org/2000/svg">
          <circle
            id="circle"
            class="circle_animation"
            r="40"
            cy="71"
            cx="71"
            stroke-width="8"
            stroke="#6fdb6f"
            fill="none"
          />
        </svg>
      </div>  
    </nav>
    <h1 class="heading">Exercise 5 of 10</h1>
    <div class="main-body">
      <p>
        You have been given historical data from the past 1 year from
        <b>October 2021</b> to <b>September 2022</b> of the stock prices of a
        company. Can you predict the stock price for <b>October 2022</b> by
        dragging that point on the graph along the Y-axis?
      </p>
      <p style="margin-bottom: 1.75rem">
        <b>NOTE:</b> The value for October 2022 is by default set to same
        value as the previous month. Please move it above or below as per your
        future estimate.
      </p>
      <div class="tip">
        <div><i style="color: #0033cc" class="bi bi-info-circle-fill"></i></div>
        <p style="margin-left: 10px">
          You will <u>not</u> be given the company name for this question.
        </p>
      </div>
      <br />
      <div id="main-body-container">
        <div class="graph" style="margin-top: 0; width: 753px; padding: 3%">
          <div class="overlay"></div>
          <canvas id="cvs" width="700" height="350">[No canvas support]</canvas>
        </div>

        <br />
        <input
          type="submit"
          class="btn btn-outline-success"
          id="submitButton"
          value="Submit"
          onclick="submit()"
        />

        <form method="POST" action="/5">
          <input type="text" class="hidden" name="UserID" id="UserID" />
          <input type="text" class="hidden" name="input1" id="input1" />
          <button type="submit" class="hidden" id="submit"></button>
        </form>
      </div>
      <!-- End #main-body-container that was started in the header -->
    </div>

    <script src="https://www.rgraph.net/libraries/RGraph.line.js"></script>
    <script src="https://www.rgraph.net/libraries/RGraph.common.dynamic.js"></script>

    <script>
      let time = 90; //seconds
      let i = 0;
      let finalOffset = (2 * 22 * 40) / 7; // the length of strokedasharray ( pixel circumference of the circle -> css )
      let step = finalOffset / time;
      let timeCaption = document.querySelector("h2");
      let circle = document.querySelector(".circle_animation").style;

      circle.strokeDashoffset = 0;
      timeCaption.innerText = "Time";

      var interval = setInterval(() => {
        timeCaption.innerText = new Date(time * 1000)
          .toISOString()
          .substring(14, 19);
        // let colorstep = ++i/len;
        // document.getElementById("circle").style.stroke = getColor(colorstep);
        if (time == 30) {
          document.getElementById("circle").style.stroke = "#FF8C00";
        }

        if (time == 15) {
          document.getElementById("circle").style.stroke = "#FF2400";
          document.querySelector("h2").classList.add("blink");
        }

        if (time-- == 0) {
          clearInterval(interval);
        } else {
          circle.strokeDashoffset = step * i++;
        }
        // time--;
      }, 1000);

      setTimeout(() => {
        document.getElementById("input1").value = null;
        document.getElementById("submit").click();
      }, (time + 1) * 1000);

      let myCanvas = document.getElementById("cvs");
      let ctx = myCanvas.getContext("2d");
      ctx.fillStyle = "#003ea9";
      ctx.font = "bold 16px Arial";
      ctx.fillText("Oct", 650, 333);
      ctx.fillText("2022", 651, 350);
      document.getElementById(`UserID`).value = localStorage.getItem("UserID");

      let value = 213.369995;
      line = new RGraph.Line({
        id: "cvs",
        data: [
          [
            211.770004, 193.770004, 216.710007, 226.169998, 216.119995,
            221.770004, 213.130005, 212.169998, 196.889999, 212.11, 198.65,
            177.65, 177.65
          ],
        ],
        options: {
          textAccessible: false,
          xaxisLabels: [
            "Oct",
            "Nov",
            "Dec",
            "Jan",
            "Feb",
            "Mar",
            "Apr",
            "May",
            "Jun",
            "Jul",
            "Aug",
            "Sep",
            " "
          ],
          marginBottom: 35,
          linewidth: 2,
          shadow: true,
          adjustable: true,
          titleVpos: 0.4,
          title: "Company X",
          tickmarksStyle: "circle",
          tickmarksSize: 5,
          yaxisScaleMax: 290,
          yaxisScaleRound: false,
          titleBold: true,
          titleSize: 14,
          colors: ["#003ea9"],
        },
      }).draw();

      line.on("draw", function (e) {
        ctx.fillStyle = "#003ea9";
        ctx.font = "bold 16px Arial";
        ctx.fillText("Oct", 649.5, 332);
        ctx.fillText("2022", 650.5, 349);
      });

      line.on("adjust", function (e) {
        let index = e.__mouseover_shape__.index;
        let dataset = e.__mouseover_shape__.dataset;
        let newValue = e.data[dataset][index];
        value = newValue;
      });

      function submit() {
        document.getElementById("input1").value = value;
        document.getElementById("submit").click();
      }
    </script>
  </body>
</html>
