html,
body {
  height: 130%;
  width: 100%;
  margin: 0;
}

.heading {
  width: 100%;
  margin: 3% 0;
  text-align: center;
  font-size: 2.5rem;
}

.main-body {
  background-color: #f5f5f5;
  border-radius: 1.25rem;
  margin: 0 5% 5% 5%;
  padding: 3%;
  height: 89%;
  width: 90%;
}

.flex1 {
  display: flex;
  height: 400px;
  width: 100%;
  justify-content: space-around;
}

.card {
  height: 100%;
  width: 45%;
  background-color: white;
}

.flex2 {
  display: flex;
  height: 27.85px;
  width: 80%;
  justify-content: space-around;
  background-color: white;
  margin: 3% auto;
}

.color {
  height: 100%;
  width: calc(100% / 11);
}

.card1 {
  background-color: #970023;
}

.card2 {
  background-color: #ce2827;
}

.card3 {
  background-color: #ee5f3f;
}

.card4 {
  background-color: #fba25c;
}

.card5 {
  background-color: #fed785;
}

.card6 {
  background-color: #fefdb9;
}

.card7 {
  background-color: #d9e986;
}

.card8 {
  background-color: #a2cf67;
}

.card9 {
  background-color: #64b15c;
}

.card10 {
  background-color: #2d8b4b;
}

.card11 {
  background-color: #185d33;
}

.text {
  margin-top: 3%;
  font-size: x-large;
  text-align: center;
}

.graph {
  margin: 0 auto;
  height: auto;
  width: 85%;
}

.btn {
  margin-top: 3.5%;
  margin-left: 47%;
}

.focus {
  box-shadow: 1px 1px 3px 3px #888888;
}

.hidden {
  display: none;
}

.percentage {
  display: flex;
  font-size: small;
  width: fit-content;
  z-index: 0;
  align-items: center;
}

.card-start {
  color: #970023;
}

.card-end {
  color: #185d33;
}

.info {
  line-height: 3;
  padding-left: 7.5%;
  padding-bottom: 1%;
  padding-top: 3%;
}
